/*estilo para telas*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font: 1em sans-serif;
}

header {
    background-color: rgba(37, 37, 37, 0.671);
}

header h1 {
    text-align: center;
    padding: 10px 0;
}

menu ul {
    display: flex;
    list-style-type: none;
    background-color: grey;
    gap: 120px;
    padding: 5px 110px;
}

menu ul li {
    cursor: pointer;
}

main article {
    width: 600px;
    background-color: rgb(193, 192, 192);
    margin: 2px auto;
    border-radius: 10px;
    padding: 10px;
}

main article h2 {
    text-align: center;
    padding: 10px;
}