body {
    background-color: #9ff0d7;
    font-family: sans-serif;
}

h1 {
    color: #013223;
}

h2 {
    color: #327e66;
}

#principal {
    text-align: center;
    background-color: rgb(4, 66, 46);
    color: rgb(222, 214, 214);
}

.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgb(207, 207, 80);
}